@model OrderDetailsViewModel

<h3>Are you sure that are delete that fallowing order:</h3>

<partial name="~/View/Shared/Partial/_OrderDetailsPartial.cshtml" for="@Model"/>

<a asp-action="ConfirmDelete" asp-route-Id="@Model.Id">Confirm</a>

<a asp-action="Index">Cancel</a>


